In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from scipy.stats import linregress
import xlrd

In [28]:
cpi_df_original = pd.read_excel (r'Sources\CPI for All Urban Consumers.xlsx')

In [21]:
cpi_df_yearly = cpi_df_original.copy()
del cpi_df_yearly['HALF1']
del cpi_df_yearly['HALF2']
cpi_df_yearly.set_index('Year', inplace=True)
cpi_df_yearly['Yearly Average'] = cpi_df_yearly.mean(axis=1)
cpi_df_yearly

,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Yearly Average
Year,,,,,,,,,,,,,
1999,164.300,164.500,165.000,166.200,166.200,166.200,166.700,167.100,167.900,168.200,168.300,168.300,166.575000
2000,168.800,169.800,171.200,171.300,171.500,172.400,172.800,172.800,173.700,174.000,174.100,174.000,172.200000
2001,175.100,175.800,176.200,176.900,177.700,178.000,177.500,177.500,178.300,177.700,177.400,176.700,177.066667
2002,177.100,177.800,178.800,179.800,179.800,179.900,180.100,180.700,181.000,181.300,181.300,180.900,179.875000
2003,181.700,183.100,184.200,183.800,183.500,183.700,183.900,184.600,185.200,185.000,184.500,184.300,183.958333
2004,185.200,186.200,187.400,188.000,189.100,189.700,189.400,189.500,189.900,190.900,191.000,190.300,188.883333
2005,190.700,191.800,193.300,194.600,194.400,194.500,195.400,196.400,198.800,199.200,197.600,196.800,195.291667
2006,198.300,198.700,199.800,201.500,202.500,202.900,203.500,203.900,202.900,201.800,201.500,201.800,201.591667
2007,202.416,203.499,205.352,206.686,207.949,208.352,208.299,207.917,208.490,208.936,210.177,210.036,207.342417
2008,211.080,211.693,213.528,214.823,216.632,218.815,219.964,219.086,218.783,216.573,212.425,210.228,215.302500
2009,211.143,212.193,212.709,213.240,213.856,215.693,215.351,215.834,215.969,216.177,216.330,215.949,214.537000
2010,216.687,216.741,217.631,218.009,218.178,217.965,218.011,218.312,218.439,218.711,218.803,219.179,218.055500
2011,220.223,221.309,223.467,224.906,225.964,225.722,225.922,226.545,226.889,226.421,226.230,225.672,224.939167
2012,226.665,227.663,229.392,230.085,229.815,229.478,229.104,230.379,231.407,231.317,230.221,229.601,229.593917
2013,230.280,232.166,232.773,232.531,232.945,233.504,233.596,233.877,234.149,233.546,233.069,233.049,232.957083
2014,233.916,234.781,236.293,237.072,237.900,238.343,238.250,237.852,238.031,237.433,236.151,234.812,236.736167
2015,233.707,234.722,236.119,236.599,237.805,238.638,238.654,238.316,237.945,237.838,237.336,236.525,237.017000
2016,236.916,237.111,238.132,239.261,240.229,241.018,240.628,240.849,241.428,241.729,241.353,241.432,240.007167
2017,242.839,243.603,243.801,244.524,244.733,244.955,244.786,245.519,246.819,246.663,246.669,246.524,245.119583
2018,247.867,248.991,249.554,250.546,251.588,251.989,252.006,252.146,252.439,252.885,252.038,251.233,251.106833

In [27]:
earning_df_original = pd.read_excel (r'Sources\Employment, Hours, and Earnings from the Current Employment Statistics survey (National).xlsx')

In [22]:
earning_df_yearly = earning_df_original.copy()
earning_df_yearly.set_index('Year', inplace=True)
earning_df_yearly['Yearly Average'] = earning_df_yearly.mean(axis=1)
earning_df_yearly

,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Yearly Average
Year,,,,,,,,,,,,,
1999,13.27,13.30,13.33,13.38,13.43,13.47,13.52,13.54,13.61,13.64,13.66,13.70,13.487500
2000,13.75,13.80,13.85,13.90,13.94,13.99,14.03,14.07,14.12,14.17,14.24,14.29,14.012500
2001,14.30,14.36,14.43,14.45,14.50,14.55,14.56,14.60,14.63,14.66,14.71,14.75,14.541667
2002,14.77,14.78,14.83,14.84,14.88,14.94,14.98,15.02,15.06,15.12,15.15,15.20,14.964167
2003,15.22,15.29,15.28,15.28,15.33,15.36,15.40,15.42,15.42,15.43,15.47,15.47,15.364167
2004,15.51,15.54,15.56,15.59,15.64,15.67,15.70,15.73,15.78,15.81,15.84,15.86,15.685833
2005,15.90,15.93,15.97,16.01,16.04,16.08,16.15,16.17,16.19,16.29,16.30,16.36,16.115833
2006,16.42,16.48,16.54,16.64,16.65,16.72,16.78,16.83,16.87,16.94,16.98,17.04,16.740833
2007,17.09,17.15,17.22,17.27,17.34,17.42,17.46,17.50,17.56,17.58,17.63,17.69,17.409167
2008,17.74,17.80,17.88,17.92,17.98,18.04,18.10,18.18,18.20,18.25,18.32,18.38,18.065833
2009,18.40,18.45,18.50,18.52,18.53,18.56,18.59,18.67,18.70,18.74,18.81,18.84,18.609167
2010,18.89,18.92,18.92,18.96,19.01,19.03,19.04,19.11,19.11,19.20,19.21,19.22,19.051667
2011,19.32,19.31,19.31,19.37,19.41,19.42,19.47,19.48,19.49,19.56,19.56,19.56,19.438333
2012,19.58,19.59,19.65,19.69,19.68,19.72,19.75,19.74,19.79,19.79,19.84,19.89,19.725833
2013,19.94,19.99,20.02,20.05,20.06,20.12,20.14,20.18,20.23,20.25,20.31,20.33,20.135000
2014,20.40,20.50,20.48,20.51,20.55,20.57,20.61,20.67,20.68,20.71,20.76,20.72,20.596667
2015,20.81,20.84,20.88,20.92,20.99,21.01,21.03,21.08,21.11,21.20,21.20,21.24,21.025833
2016,21.31,21.36,21.40,21.46,21.48,21.53,21.58,21.61,21.63,21.71,21.73,21.77,21.547500
2017,21.82,21.86,21.89,21.94,21.98,22.03,22.08,22.11,22.19,22.18,22.24,22.31,22.052500
2018,22.36,22.40,22.49,22.55,22.62,22.67,22.71,22.80,22.86,22.90,22.99,23.09,22.703333

In [29]:
unemployment_df_original = pd.read_excel (r'Sources\Labor Force Statistics from the Current Population Survey.xlsx')

In [23]:
unemployment_df_yearly = unemployment_df_original.copy()
unemployment_df_yearly.set_index('Year', inplace=True)
unemployment_df_yearly['Yearly Average'] = unemployment_df_yearly.mean(axis=1)
unemployment_df_yearly

,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Yearly Average
Year,,,,,,,,,,,,,
1999,4.3,4.4,4.2,4.3,4.2,4.3,4.3,4.2,4.2,4.1,4.1,4.0,4.216667
2000,4.0,4.1,4.0,3.8,4.0,4.0,4.0,4.1,3.9,3.9,3.9,3.9,3.966667
2001,4.2,4.2,4.3,4.4,4.3,4.5,4.6,4.9,5.0,5.3,5.5,5.7,4.741667
2002,5.7,5.7,5.7,5.9,5.8,5.8,5.8,5.7,5.7,5.7,5.9,6.0,5.783333
2003,5.8,5.9,5.9,6.0,6.1,6.3,6.2,6.1,6.1,6.0,5.8,5.7,5.991667
2004,5.7,5.6,5.8,5.6,5.6,5.6,5.5,5.4,5.4,5.5,5.4,5.4,5.541667
2005,5.3,5.4,5.2,5.2,5.1,5.0,5.0,4.9,5.0,5.0,5.0,4.9,5.083333
2006,4.7,4.8,4.7,4.7,4.6,4.6,4.7,4.7,4.5,4.4,4.5,4.4,4.608333
2007,4.6,4.5,4.4,4.5,4.4,4.6,4.7,4.6,4.7,4.7,4.7,5.0,4.616667
2008,5.0,4.9,5.1,5.0,5.4,5.6,5.8,6.1,6.1,6.5,6.8,7.3,5.800000
2009,7.8,8.3,8.7,9.0,9.4,9.5,9.5,9.6,9.8,10.0,9.9,9.9,9.283333
2010,9.8,9.8,9.9,9.9,9.6,9.4,9.4,9.5,9.5,9.4,9.8,9.3,9.608333
2011,9.1,9.0,9.0,9.1,9.0,9.1,9.0,9.0,9.0,8.8,8.6,8.5,8.933333
2012,8.3,8.3,8.2,8.2,8.2,8.2,8.2,8.1,7.8,7.8,7.7,7.9,8.075000
2013,8.0,7.7,7.5,7.6,7.5,7.5,7.3,7.2,7.2,7.2,6.9,6.7,7.358333
2014,6.6,6.7,6.7,6.2,6.3,6.1,6.2,6.1,5.9,5.7,5.8,5.6,6.158333
2015,5.7,5.5,5.4,5.4,5.6,5.3,5.2,5.1,5.0,5.0,5.1,5.0,5.275000
2016,4.9,4.9,5.0,5.0,4.8,4.9,4.8,4.9,5.0,4.9,4.7,4.7,4.875000
2017,4.7,4.7,4.4,4.4,4.4,4.3,4.3,4.4,4.2,4.1,4.2,4.1,4.350000
2018,4.1,4.1,4.0,3.9,3.8,4.0,3.9,3.8,3.7,3.8,3.7,3.9,3.891667

In [30]:
productivity_df_yearly = productivity_df_original.copy()
productivity_df_yearly.set_index('Year', inplace=True)
productivity_df_yearly

       Annual
Year
1999   87.439
2000   88.776
2001   89.305
2002   91.139
2003   93.328
2004   95.399
2005   96.856
2006   97.324
2007   97.858
2008   96.703
2009   96.945
2010   99.488
2011   99.314
2012  100.000
2013  100.039
2014  100.531
2015  101.396
2016  100.780
2017  101.180
2018  102.149